.container {
    font-family:Geneva, Tahoma, sans-serif;
    padding: 0rem;
}
.header-footer {
    background-color:  #CCCCCC;
    color: black;
}
.row {
    --mdb-gutter-x: 0rem;
}
.navbar {
    background-color: #DDD;
}
.btnColour {
    background-color: #01A2BF;
    color:#333;
}
.userProfile {
    background-color: #AAA;
    color:#333;
}
.aForm {
    width: 30rem;
}
.searchInput {
    width: 10rem;
}
.listingsContainer {
    height: 35rem;
    overflow: auto;
}
::-webkit-scrollbar {
    width: 0.7rem;

  }
::-webkit-scrollbar-track {
    background: White;
    border:#CCCCCC solid 1px;
    border-radius: px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #01A2BF;
    border-radius: 3px;
  }
.listingCard {
    color:#333;
    background-color: #EEE;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.listingName {
    background-color: #8dc3cc;
}
.listImage {
    width: 12rem;

}
.listingAge {
    font-size: 0.8rem;
    text-align: center;
    margin: 0.3rem;
}
.singleListingContainer {
    width: 100%;
    color: #333;
}
a:hover {
    text-decoration: none;
}
li.hover a:hover { color: black !important; }

.navbar-nav li:hover {
    background-color: #DDDDDD;
    color: black;
}
.btn-dark:hover { 
    color: blue 
}
figcaption {
    font-size: 0.8em;
}
footer {
    width:100%;
}

