.container {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.header-footer {
    background-color:  #CCCCCC;
    color: black;
}
.btnColour {
    background-color: #01A2BF;
}
.aForm {
    width: 30em;
}
.bird-intro {
    width: 35em;
    margin: auto;
}

li.hover a:hover { color: black !important; }

.navbar-nav li:hover {
    background-color: #DDDDDD;
    color: black;
}
.btn-dark:hover { 
    color: blue 
}
figcaption {
    font-size: 0.8em;
}

h2.accordion-header{
    color: white;
}